@font-face { 
    font-family:'Raleway.ttf'; /* Définition d'une nouvelle police nommée Raleway */
    src:url('Raleway.ttf');
}

body {
    font-family:'Raleway.ttf';
}

.bloc_page {
    padding: 0% 3% 0 3%; /* marge coté gauche et droit de la page web */
}

/* <Partie HEADER> */

/* <nav class="Menu"> */
.Menu {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}
/* <div class="navig"> */
.navig a {
    margin: 2em; /* marge entre les liens */
    text-decoration: none; /* Suppression du soulignement des liens */
}

.navig a:hover {
    border-top: 1px solid #0065FC; /* Barre au dessus du lien */
    padding-top: 2.3em; /* Ecart entre la barre et le lien */
}

.heberge { 
    color: #0065FC; /* couleur du lien Hébergements */
    border-top: 1px solid #0065FC;
    padding-top: 2.3em;
}

.activ { 
    color:#000000; /* couleur du lien Activités */
}

.inscription { 
    color: #0065FC; /* couleur du lien S'inscrire */
}
/* </div class="navig"> */
/* </nav class="Menu"> */

/* <section class="searching"> */
h1 {
    margin-top: 2em;
    font-size: 1.2em; /* Taille du titre */
    font-weight: bold; /* Mettre en gras */
}

header p {
    font-size: 0.8em; /* Taille des p du header */
}

.searching p {
    line-height: 0.8em; /* Espace entre la ligne */
}
/* <div class="boutonrecherche"> */
.boutonrecherche{
    display: flex;
}

.search {
    padding: 0.59em 0.59em 0.59em 0.59em;
    background-color: #0065FC;
    border: none;
    color: white;
    text-align: center;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0em;
}

.write {
    border-left: none;
    border-right: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.map {
    padding: 1.2em 1.2em 1.2em 1.2em;
    background-color: #F2F2F2;
    border: none;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
    border-top-left-radius: 0.5em;
}
/* </div class="boutonrecherche"> */
/* </section class="searching" */

/* <section class="filtres"> */
/* <h3 class="titrefi">Filtres</h3> */
.titrefi {
    margin-right: 1.875em;
}
/* </h3 class="titrefi">Filtres</h3> */
/* <span class="filtre"> */
.filtre {
    display: flex;
    align-items: baseline;
}

.filtre:hover {
    background-color: #DEEBFF; /* changement d'apparence au survol */
}

.filtre button {
    margin: 1em;
}

.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 1.875em;
    margin-right: 1.875em;
    padding-right: 1em;
}

.lien {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0.8em;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
    margin-bottom:1.5em;
}
/* </span class="filtre"> */
/* </section class="filtres"> */

/* <infos> */
.loginfo {
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.logements {
    display: flex;
    align-items: center;
}
/* </infos> */

/* </Partie HEADER> */

/* <Titre h2 h3> */
h2 {
    font-size: 1.2em; /* Taille du titre */
    font-weight: bold; /* Mettre en gras */
}

h3 {
    font-size: 1em; /* Taille du titre */
    font-weight: bold; /* Mettre en gras */
}
/* </Titre h2 h3> */

/* <Partie Hébergements et Populaires> */

/* <div class="respop"> "Resultats+Populaires" */
.respop {
    display: flex;
    justify-content: space-between;
    height: 39em;
}
/* </div class="respop"> "Resultats+Populaires" */

/* <article class="Resultats"> */
.Resultats {
    width: 61%;
    background-color: #F2F2F2;
    padding: 0 3% 0 3%;
    justify-content: space-around;
    border-radius: 2%;
}

.Resultats h2 {
    padding-top: 2em;
    padding-left: 1em;
}

.more h3 {
    padding-left: 1em;

}

.more {
    text-decoration: none;
    color: black;
}


/* <div class="box-choix"> */
.box-choix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* </div class="box-choix"> */

/* <article class="choix"> */
.choix {
    width: 29%;
    background-color: #fff;
    height: 12em;
    margin-bottom: 2em;
    padding: 0.6%;
    border-radius: 3%;
    box-shadow: 0.2em 0.2em 0.2em 0.2em #e6e6e6;
}

.choix img {
    object-fit: cover;
    width: 100%;
    height: 6.75em;
    border-radius: 3% 3% 0 0;
}

.choix a {
    text-decoration: none;
    color: black;
}

.choix p {
    padding-left: 5%;
    margin: inherit;
    margin-bottom: 0.5em;
}

.choix h3 {
    padding-left: 5%;
    margin: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.choix i {
    color:  #0065FC;
}

.choix .vide {
    color: #e6e6e6;
}
/* </article class="choix"> */
/* </article class="Resultats"> */








.Populaires {
    width: 24%;
    background-color: #F2F2F2;
    border-radius: 2%;
    padding: 0 3% 3% 3%;
    display: flex;
    flex-direction: column;
}

.Populaires h2 {
    padding-top: 2em;
}

.Populaires h2 i {
    margin-left: 7.5em;
}

.box-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop {
    width: 100%;
    background-color: #fff;
    height: 8em;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3%;
    margin-bottom: 1.8em;
}

.pop a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.pop img {
    object-fit: cover;
    width: 38%;
    height: 8em;
    border-radius: 3% 0 0 3%;
}

.texte {
    padding-left: 5%;
}

.texte h3 {
    margin-bottom: inherit;
}

.texte p {
    margin-top: inherit;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

.pop i {
        color:  #0065FC;
    }

.pop .vide {
    color: #e6e6e6;
}





/* <Partie FOOTER> */

footer {
    background-color: #F2F2F2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 20em;
    padding-left: 3em;
    padding-top: 3em;
}

/* </Partie FOOTER> */

